doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(href='/stylesheets/grayscale.css', rel='stylesheet')

    link(href='/stylesheets/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='/stylesheets/bootstrap.min.js')



  body
  #page-top(data-spy='scroll', data-target='.navbar-fixed-top')
    // Navigation
  .container
  nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
        i.fa.fa-bars
      a.navbar-brand.page-scroll(href='#page-top')
        //- i.fa.fa-play-circle
        span.light aha-helene
        //- |  Bootstrap
    .collapse.navbar-collapse.navbar-right.navbar-main-collapse
      ul.nav.navbar-nav
        // Hidden li included to remove active class from about link when scrolled up past about section
        li.hidden
          a(href='#page-top')
        li
          a.page-scroll(href='#about') About
        li
          a.page-scroll(href='#projects') Projects
        li
          a.page-scroll(href='#contact') Contact .
                
  
  block content
